<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Damage Calculator</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <style>
    @font-face {
        font-family: 'Clash';
        src: url('../static/clash.ttf') format('truetype');  
        font-weight: normal;
        font-style: normal;
    } 
    </style>
    
</head>

<body>
    <div class="bg"></div>
    <div class="all">
        <div class="calculadora-dano">
            <div class="linha-container">
                <h1 class="titulo pula-linha">Calculadora de Dano</h1>
                <h2>Selecione um personagem</h2>
            </div>

            <div class="elementos-container">

                <!-- AQUI NÓS TEMOS O PRIMEIRO PERSONAGEM: O REI BARBARO! AO CLICAR NELE VAMOS ABRIR UMA JANELA PUP UP -->
                <div class="box">
                    <div class="elemento_personagem">
                        <button id="rei" class="button1"><img src="../static/rei_barbaro.png" alt="Rei Bárbaro" width="200"
                                height="200" /></button>
                        <p class="name">Rei Bárbaro</p>
                    </div>
                </div>

                <!-- AQUI NÓS TEMOS O SEGUNDO PERSONAGEM: O GOLEM! AO CLICAR NELE VAMOS ABRIR UMA JANELA PUP UP -->
                <div class="box">
                    <div class="elemento_personagem" id="Golem">
                        <button id="golem" class="button1" onclick="abrirGolem()"><img src="../static/Golem.png" alt="Golem"
                                width="200" height="200" /></button>
                        <p class="name">Golem</p>
                    </div>
                </div>

                <!-- AQUI NÓS TEMOS O SEGUNDO PERSONAGEM: O ARCHER! AO CLICAR NELA VAMOS ABRIR UMA JANELA PUP UP -->
                <div class="box">
                    <div class="elemento_personagem" id="Archer">
                        <button id="archer" class="button1" onclick="abrirArcher()"><img src="../static/Archer.png"
                                alt="Archer" width="200" height="200" /></button>
                        <p class="name">Archer</p>
                    </div>
                </div>

                <!-- AQUI EU VOU CRIAR UMA DIV QUE FICARÁ OCULTA... E APARECERÁ APENAS QUANDO EU CLICAR NO PERSONAGEM-->
                <div id="box_pop">
                    <button id="fechar" onclick="fecharDiv()"><img src="../static/fechar.ico" alt=""></button>
                    <!-- <div class="titulo">
                        <h3 id="titulo">titulo</h3>
                    </div> -->
                    <div class="itens_pop">
                        <img id="imagem" src="../static/rei_barbaro.png" alt="">
                    </div>

                    <div class="armas">
                        <h3 id="titulo_armas">Escolha a arma para atacar</h3>
                        <button id="botao1"><img id="espada" src="../static/espada.png" alt=""></button>                                                            
                        <button id="botao2"><img id="canhao" src="../static/Canhão.png" alt=""></button>
                        
                        <button id="botao3"><img id="bola_fogo" src="../static/bola_de_fogo.png" alt=""></button>
                    </div>
                   
                    <div class="botoes">
                        <button id="voltar" style="font-family: Clash;">Voltar</button>
                        <button id="calcular" style="font-family: Clash;">Calcular Dano</button>
                    </div>
                </div>

                

                


            </div>














        </div>
    </div>
    <script type="text/javascript" src="static/index.js"></script>
</body>

</html>